{% extends "base.html" %}
{% load static %}
{% block content %}

<head>
    <title> Lists of Books </title>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="{% static 'js/ajax_handler.js'%}"></script>
</head>

<body>

    <h1>Buku menarik bulan ini</h1>
    <br>

    <div class="table-responsive">
        <table id="table-result" class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Cover</th>
                    <th scope="col">Title</th>
                    <th scope="col">Authors</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody id="result">
                
            </tbody>
        </table>
    </div>


</body>

{% endblock %}