{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyling.css' %}">
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'index' %}">Main</a></li>
                <li><a href="{% url 'book' %}">Books</a></li>
                <li><a href="{% url 'shout' %}">Shout!</a></li>
                <li><a href="{% url 'profile' %}">About me</a></li>
            </ul>
        </div>
    </nav>
              

</body>
{% block content %}
{% endblock %}
<body>
    <footer>
        <div class="container-fluid">
            <h3>My Contact</h3>
            <author>
                phone : 081293738216 <br>
                E-mail: abdurrahmmanhermanto18@gmail.com
            </author>
        </div>
    </footer>
</body>